<p>
	<strong>Assignee:</strong>
	<%= task.assignee %>
</p>

<p>
	<strong>Task:</strong>
	<%= task.body %>
</p>

<p>
    <%= link_to 'Destroy', [task.meeting, task],
                method: :delete,
                data: { confirm: 'Are you sure?'} %>
</p>








