<p>
	<strong>Tasker:</strong>
	<%= task.tasker %>
</p>

<p>
	<strong>Task:</strong>
	<%= task.body %>
</p>

<p>
    <%= link_to 'Destroy Task', [task.meeting, task],
                method: :delete,
                data: { confirm: 'Are you sure?'} %>
</p>








